<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="display-6 text-center">Sign up</h1>

      <%= form_for resource, as: resource_name, url: registration_path(resource_name),
        html: { class: 'row g-3 my-3' } do |f|
        %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div>
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-control", autofocus: true, required: true, autocomplete: "name" %>
        </div>

        <div>
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control", required: true, autocomplete: "email" %>
        </div>

        <div>
          <%= f.label :password, class: "form-label" %>
          <em>(minimum <%= @minimum_password_length %> characters)</em>
          <%= f.password_field :password, class: "form-control", required: true, autocomplete: "new-password" %>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", required: true, autocomplete: "new-password" %>
        </div>

        <div>
          <%= f.submit "Sign up", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
