<div class="foods-container">
  <div class="head-div">
    <% if @user %>
      <h1 class="name">Hello <%= @user.name %></h1>
    <% else %>
      <h1 class="name">Hello Guest</h1>
    <% end %>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out' %>
  </div>
  <%= link_to 'Add Food', new_food_path, class: 'add-link' %>
  <div class="list-condition">
    <% if @foods.empty? %>
      <%= image_tag("empty-box.jpg", id: '1690915255103-img', class: 'empty-img') %>
      <p class="no-foods">Your Food List Is Currently Empty.</p>
    <% else %>
      <% @foods.each do |food| %>
      <div class="food-box">
        <div>
          <%= image_tag("1690913062800.jpg", id: '1690913062763-img',  class: 'food-img') %>
        </div>
        <div>
          <h3>Name: <span class="post-link"><%= food.name %></span></h3>
          <h3>Measurement Unit: <span class="post-link"><%= food.measurement_unit %></span></h3>
          <h3>Price: <span class="post-link">$<%= food.price %></span></h3>
          <h3>Quantity: <span class="post-link"><%= food.quantity %></span></h3>
        </div>
        <div class="links">
          <%= link_to 'Edit', edit_food_path(food), class: 'post-link-2' %>
          <%= link_to 'Delete', food_path(food), method: :delete, data: { confirm: 'Are you sure you want to delete this food?' }, class: 'btn-back' %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>


