<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="display-6 text-center mb-5">Add ingredient for recipe</h1>

      <%= form_for [@recipe, @recipe_food], html: { class: 'col-lg-8 mx-auto' } do |f| %>
        <div class="mb-3">
          <%= f.label :food_id, "Ingredient" %>
          <%= f.collection_select :food_id, Food.all, :id, :name, prompt: "Select ingredient", class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= f.number_field :quantity, placeholder: "Quantity", class: "form-control" %>
        </div>

        <%= f.submit "Add ingredient to recipe", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
