<div class="container">
  <h1>Generate Shopping List</h1>

  <%= form_with model: @recipe_food, url: recipe_recipe_foods_path(recipe_id: @recipe), method: :post do |form| %>

    <div class="field">
      <%= form.label :food_name, style: "display: block" %>
      <%= form.collection_select :food_id, @foods, :second, :first, prompt: true, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :quantity, style: "display: block", class: "form-label" %>
      <%= form.number_field :quantity, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Add To Cart", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

